html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nextplayer {
  color: hsl(0, 0%, 0%);
  font-size: 5vh;
  text-align: center;
}

.status {
  color: hsl(0, 0%, 0%);
  font-size: 3vh;
  margin-bottom: 5px;
  text-align: center;
}


.broad {
  padding-bottom: 100%;
  background-color: #008000;
  display: flex;
  flex-direction: column;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  width: 100%;
  height: 100%;
  display: grid;
  background: #008000;
  border: 1px solid #000000;
  float: left;
  line-height: 50px;
  height: 8vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.disc {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
}

.disc.Black {
  background-color: black;
}

.disc.White {
  background-color: white;
}

/* ボタンのデザイン */

.button-container {
  position: absolute; 
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px; 
  box-sizing: border-box;
  z-index: 2; 
}

.resetBoard, .doOver {
  position: relative;
  width: 10vh; 
  height: 10vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh; 
  background-color: hsl(204, 70%, 53%);
  color: white;
  border: none;
  cursor: pointer;
}

.resetBoard {
  transform: translateX(-20vw); 
}

.doOver {
  transform: translateX(20vw);
}