:root {
  --disc-size: calc(min(70vh, 90vw) / 8 * 0.8);
  --square-size: calc(var(--disc-size) / 0.8);
  --font-size: calc(var(--disc-size) * 0.36);

  --primary-color: #0b6780;
  --on-primary-color: #ffffff;
  --inverse-primary-color: rgb(185 234 255);
  --primary-container-color: #b9eaff;
  --on-primary-container-color: #001f29;
  --surface-color: #f5fafd;
  --on-surface-color: #171c1f;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--font-size);
  background-color: var(--surface-color);
  color: var(--on-surface-color);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.button-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.next-player {
  padding: 0.5rem;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border: 0;
  border-radius: 10px;
  background-color: var(--primary-container-color);
  color: var(--on-primary-container-color);
}

.status-line {
  font-size: 1.5rem;
  text-align: center;

  color: black;
}

.board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
}

.square {
  width: var(--square-size);
  height: var(--square-size);

  background: #008000;
  border: 1px solid black;
  border-radius: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.disc {
  width: var(--disc-size);
  height: var(--disc-size);
  transform-style: preserve-3d;

  .face-black,
  .face-white {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
    backface-visibility: hidden;
  }

  .face-black {
    background-color: black;
    transform: rotateY(0deg);
  }

  .face-white {
    background-color: white;
    transform: rotateY(180deg);
  }
}

/* ボタンのデザイン */
.icon-button {
  height: min(10vh, 20vw);
  /* サイズは正方形 */
  aspect-ratio: 1;
  border-radius: 20%;

  /* 内容物の上下中央揃え */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);
  color: var(--on-primary-color);
  border: none;
  cursor: pointer;

  .icon {
    font-size: min(6vh, 12vw);
  }

  &:hover {
    opacity: 0.8;
  }
}
